<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body ng-controller="myCtrl">
<div class="fade" ng-repeat="item in items">{{item}}</div>
<input type="button" value="开始动画" ng-click="start()"/>
</body>

<script src="lib/jquery-3.1.0.js"></script>
<script src="lib/angular.js"></script>
<script src="lib/angular-animate.js"></script>

<script>
    angular.module('app',['ngAnimate'])
            .controller('myCtrl',function ($scope) {
                $scope.start=function () {
                    $scope.items = ['1','2','3','4','5','6'];
                }

            })
            .animation('.fade',function () {
                return{
                    enter:function (ele,done) {

                        $(ele).css({opacity:0}).animate({opacity:1},3000)

                    },
                    leave:function () {
                        
                    }
                }
            })
</script>
</html>