<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .fade{
            position: absolute;
            top: 0%;
            left: 100%;
            list-style: none;
            font-size: 2em;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<ul ng-init="name" ng-switch="name">

    <li class="fade" ng-switch-when="zs">张三</li>
    <li class="fade" ng-switch-when="ls">李四</li>
    <li class="fade" ng-switch-when="ws">王五</li>

</ul>


<input type="button" value="显示张三" ng-click="name='zs'"/>
<input type="button" value="显示李四" ng-click="name='ls'"/>
<input type="button" value="显示王五" ng-click="name='ww'"/>
</body>

<script src="lib/jquery-3.1.0.js"></script>
<script src="lib/angular.js"></script>
<script src="lib/angular-animate.js"></script>
<script>
    angular.module('app',['ngAnimate'])
            .animation('.fade',function () {
                return{
                    enter:function (ele,done) {
                        $(ele).animate({left:'50%'},3000);
                        done();
                    },
                    leave:function (ele,done) {
                        $(ele).animate({left:'-10%'},3000);
                    }
                }
            })
</script>
</html>
